*{
  box-sizing: border-box;
} */


html, body{
  padding:0;
  margin:0;
  width: 100%;

}

.wrapper{
  width:100%;
  text-align: center;
}

/*#4E4B5C  */

.open-button{
  color:white;
  font-size: 30px;
  display: none;
  margin:1em 0 0 1em;
  z-index: 1000;
  justify-content: center;
}

body{
  background:#4E4B5C;
}

.mobilenav{
  width: 0;
  overflow-x: hidden;
  height: 100vh;
  z-index:100;
  position: fixed;
  background: #BDADEA;
  opacity: 0.9;
  transition: 0.5s;
  display: block;

}

.mobilenav a{
  color: white;
  text-decoration: none;
  font-size: 22px;
  padding-top:1em;
  padding-bottom: 1em;
  clear:left;
  display: block;
}

.close{
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}


/*HOVER EFFECTS START*/
.mobilenav a:hover{
  background-color: #4381C1;
}

.desktop-nav ul li a:hover{
  color: #4381C1;
}
/*HOVER EFFECTS END */







/*MEDIA QUERIES START */
@media screen and (max-width:700px) {

  .desktop-nav{
    display:none;
  }

  .open-button{
    display:flex;
  }

}


/*MEDIA QUERIES END */





.desktop-nav ul {
  list-style: none;
  font-size: 1.5em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 3.5em;
}




.desktop-nav a{
  text-decoration: none;
}

.desktop-nav{
  background: #BDADEA;
  border-radius: 30px;
}

.hero-content{
  background: #82ABD5;
  width: 70vh;
  height: auto;
  opacity: 0.9;
  padding-bottom: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding:0 2.0em;

}

.hero-content h1{
  text-align:center;
}

.hero{
  background: url('../images/hero.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.icons{
  display: flex;
  justify-content: space-around;
  font-size: 3.0em;
  padding: 1em 0;
}

footer{
  background: #B2A4D6;
}






/*ABOUT PAGE START*/

.biography{
  background:#548cc6;
  height: 420px;

}

.interests{
  background: #c3aac7;
  height: 420px;
}

.html{
  background:#c3aac7;
  height: 420px;
}

.css{
  background:#548cc6;
  height: 420px;
}

.github{
  background:#548cc6;
  height: 420px;
}

.animations{
  background:#c3aac7;
  height: 420px;
}

.about{
  padding: 0 3em;
}
/* ABOUT PAGE END */








/*PRODUCT PAGE START*/

.products{
  display: flex;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  height:300px;
  background: #548cc6;
}

/*PRODUCT PAGE END*/








/* CONTACT PAGE START  */
.inputs{
  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;
}
/* CONTACT PAGE END*/








/*ANIMATIONS START*/




/*ANIMATIONS END */




/*HOME PAGE START*/

.hero-button{
  background: green;
  padding:1.5em 1.5em;
  display: inline-block;


}

.hero-button a{
  text-decoration: none;
  margin-bottom: 10px;
}

.hero-button::after{
  content:'';
  display: block;
  width:0;
  height:3px;
  transition: width 0.5s;
  background: blue;

}

.hero-button:hover::after{
  width:100%;
}

.desktop-links::after{
  content:'';
  display: block;
  width:0;
  height:3px;
  transition: width 0.5s;
  background: #4381C1;
}

.desktop-links:hover::after{
  width:100%;

}





/*HOME PAGE END */
